.product-details-wrapper {
    width: 90%;
    //max-width: 1200px;
    margin: 0 auto;

    .general-info-product {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .col-img-info {
            width: 40%;
            min-width: 370px;

            .main-img-product {
                width: 350px;
                height: 350px;
                object-fit: cover;
                display: block;
                margin: 0 auto;
                border-radius: 10px;
            }

            .sub-img-product-wrapper {
                width: 350px;
                display: flex;
                overflow-x: auto;
                margin: 0 auto;

                .sub-img-product {
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    margin-right: 10px;
                    border-radius: 5px;
                }
            }
        }

        .col-text-info {
            width: 50%;
            min-width: 370px;
            font-size: 18px;
        }
    }

    .time-line {
        width: 100%;

        .process-table-wrapper {
            width: 100%;
            overflow-x: auto;

            .process-table {
                width: 100%;
                min-width: 800px;

                td {
                    vertical-align: middle;
                    align-items: center;
                }
            }
        }
    }
}