.transaction-detail-wrapper {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 4rem;

    h1 {
        font-size: 2em;
    }
    
    .list-products {
        margin: 5rem auto;
        width: 100%;
    }
  }