.dashboard {
    width: 90%;
    margin: 0 auto;

    .general-dashboard {
        width: 100%;
        
        .main-general-dashboard {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
            .dashboard-total {
                width: 230px;
                background-color: rgb(76, 197, 76);
                border-radius: 5px;
                text-align: center;
                color: #ffffff;
                box-shadow: 1px 5px 10px 1px #c2d8c2;
                margin-bottom: 20px;

                h3 {
                    margin-top: 10px;
                }

                p {
                    margin-bottom: 0px;
                    font-size: 18px;
                }

                p:last-child {
                    margin-bottom: 10px;
                }
            }
        }


    }

    .chart-dashboard {
        width: 100%;

        .chart-wrapper {
            width: 100%;
            overflow-x: scroll;

            .chart-content {
                width: 1000px;
                height: 500px;
            }
        }

        .chart-control {
            display: flex;
            flex-wrap: wrap;

            .dashboard-select {
                width: 300px;
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
    }
}