.confirm-wrapper {
    width: 90%;
    margin: 0 auto;

    .search-confirm {
        width: 300px;
    }

    .table-wrapper {
        width: 100%;
        overflow-x: auto;

        .table-list-confirm-product {
            width: 100%;
            min-width: 1200px;

            td {
                vertical-align: middle;
                align-items: center;
            }

            .col-name {
                max-width: 200px;
            }

            .img-table-confirm {
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 5px;
            }

            .col-control {
                .btn {
                    margin-bottom: 5px;
                    margin-right: 5px;
                    float: left;
                }
            }
        }
    }
}
