.header-wrapper {
    width: 100%;
    height: 60px;
    box-shadow: 5px 5px 5px #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-col-1 {
        width: calc(100% - 150px);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .menu-icon {
            width: 30px;
            height: 30px;
            font-size: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.2s all ease;
        }

        .menu-icon:hover {
            background-color: #efefef;
        }

        .logo {
            display: flex;
            height: 100%;
            align-items: center;

            .logo-app {
                width: 30px;
            }

            .text-logo-app {
                margin: 0;
                color: #08cb3e;
            }
        }

        .search {
            width: calc(100% - 260px);
            height: 100%;
            display: flex;
            align-items: center;

            .input-group {
                width: 100%;
                margin: 0 !important;
            }
        }
    }

    .header-col-2 {
        height: 100%;
        width: 140px;
        display: flex;
        align-items: center;
        //justify-self: end;
        justify-content: end;

        .QR {
            font-size: 30px;
            margin-right: 20px;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.2s all ease;
        }

        .QR:hover {
            background-color: #efefef;
        }

        .profile {
            width: 50px;
            height: 50px;
            margin-right: 20px;
            cursor: pointer;

            .avatar {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}

@media screen and (max-width: 620px) {
    .header-wrapper {
        .header-col-1 {
            .logo {
                .text-logo-app {
                    display: none;
                }
            }

            .search {
                width: calc(100% - 120px);
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .header-wrapper {
        .header-col-1 {
            width: 100%;

            .search {
                width: calc(100% - 90px);
            }
        }

        .header-col-2 {
            width: 80px;
            .QR {
                display: none;
            }
        }
    }
}

