@import "~bootstrap/scss/bootstrap";
$color_app: #08CB3E;

body {
    margin: 0;
    padding: 0;
}

button {
    display: block !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.color-app {
    background-color: $color_app;
}

.text-color-app {
    color: $color_app;
}

.btn-color-app {
    color: #ffffff;
    background-color: $color_app;
}

.format-link {
    text-decoration: none;
}

.format-input {
    width: 100%;
    display: block;

    input {
        background: #ffffff;
        border-radius: inherit;
    }
}

.text-justify {
    text-align: justify;
}

.center-by-col {
    display: flex;
    align-items: center;
}