.pd-basic-info-wrapper {
  width: 100%;
  display: flex;
  position: relative;
  top: 2rem;
  .col-1 {
    width: 40%;
    img {
      width: 25rem;
      height: 20rem;
      margin: 0 auto;
      display: block;
    }
  }

  .col-2 {
    width: 60%;

    p {
      font-size: 1.25rem;
      margin: 1rem 0;
      font-weight: bold;
      span {
        font-size: 1.25rem;
        font-weight: normal;
        text-align-last: justify;
      }
    }

    .name {
      font-size: 2rem;
      font-weight: bold;
    }
  }
}