.transaction-wrapper {
    width: 90%;
    margin: 0 auto;

    .transaction-table-wrapper {
        width: 100%;
        overflow-x: auto;

        .transaction-table {
            width: 1200px;

            td {
                vertical-align: middle;
                align-items: center;
            }
        }
    }
}