.menu-wrapper {
  width: 250px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #06b035;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  -webkit-transition: .4s all ease;
  transition: .4s all ease;
}

.menu-wrapper .header-menu {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-wrapper .header-menu .logo-header-menu {
  width: 40px;
}

.menu-wrapper .header-menu .text-header-menu {
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
  text-decoration: none;
}

.menu-wrapper .main-menu {
  width: 95%;
  margin: 0 auto;
}

.menu-wrapper .main-menu .menu-item {
  width: 100%;
  margin: 20px 0;
}

.menu-wrapper .main-menu .menu-item .header-menu-item {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-weight: bold;
  border-radius: 2px;
  margin-bottom: 5px;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.menu-wrapper .main-menu .menu-item .header-menu-item .text-header-menu-item {
  font-size: 20px;
  margin-left: 10px;
}

.menu-wrapper .main-menu .menu-item .header-menu-item .text-header-menu-item i {
  margin-right: 20px;
}

.menu-wrapper .main-menu .menu-item .header-menu-item .icon-header-menu-item {
  font-size: 20px;
  margin-right: 10px;
}

.menu-wrapper .main-menu .menu-item .header-menu-item .icon-header-menu-item i {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.menu-wrapper .main-menu .menu-item .header-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-wrapper .main-menu .menu-item .child-menu-item {
  width: 90%;
  margin: 0 auto;
}

.menu-wrapper .main-menu .menu-item .child-menu-item .child-item-menu-item {
  color: #ffffff;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.menu-wrapper .main-menu .menu-item .child-menu-item .child-item-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.hide-menu {
  left: -300px;
}

.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.active .icon-header-menu-item i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.show {
  display: block;
}

.hide {
  display: none;
}

.menu-wrapper::-webkit-scrollbar {
  background-color: #06b035;
  width: 10px;
}

.menu-wrapper:hover::-webkit-scrollbar {
  width: 10px;
}

.menu-wrapper:hover::-webkit-scrollbar-thumb {
  background-color: #5f916e;
  border-radius: 5px;
}
/*# sourceMappingURL=menu.css.map */